.name-title {
    text-align: center;
}


.name-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 300px;
}

.name-button {
    transition: 0,5s;
}

.name-button:active {
    transform: translateY(0,5rem);
}